

        <!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="smokesuite" verbose="10" parallel ="classes">
    <test name="smoke">
        <groups>
            <run>
                <include name ="smoke"/>
            </run>

        </groups>



        <classes>
            <class name="tests.BaseTest" />
            <class name="tests.CartCheckTest" />


        </classes>

    </test>

</suite>


